#selectGame .btn {
  margin: 2px 0;
}

nav {
  margin-top: 30px;
}

/*.ratingGroup {
  border-spacing: 1px;
}

div.ratingGroup:nth-child(2){
  padding-top: 2px;
}*/

#promptResponse h6,
#promptResponse p {
  display: inline-block;
}

#ratingVerticalGroup>.btn:not(last-child) {
  margin-bottom: 2px;
}

.jumbotron p,
p {
  color: #00ff00; 
  font-family: "Courier";
}

#gameRecord {
  font-family: "Courier";
  font-weight: 100;
  font-variant: small-caps;
}

#gameRecord p{
  font-size: 30px;
  font-weight: 200;

}