<!-- This is the row of game options on initial loading page -->
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron text-center">
      <h1>HQ</h1>
      <p>Soldier: Recover your hijacked mind by completing these missions!</p>
    </div> 
  </div>
</div>
<div id="selectGame" class="row">
  <div class="col-md-4">
    <a href="#" class="btn btn-lg btn-warning btn-block">Nightmares</a>
  </div>
  <div class="col-md-4">
    <a ui-sref="panicGame" class="btn btn-lg btn-warning btn-block">Panic Attack</a>
  </div>
  <div class="col-md-4">
    <a href="#" class="btn btn-lg btn-warning btn-block">Anxiety</a>
  </div>
</div>