<!--  Game Record Report -->
<div id="gameRecord">
  <div class="row">
    <div class="jumbotron text-center">
      <h6>Commanding Officer:</h6>
      <p>{{pCtrl.officerTypewriter}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <h4>Change in Distress</h4>
      <p>{{pCtrl.ratingChange}}</p>
    </div>
    <div class="col-md-4 text-center">
      <h4>Staring Level</h4>
      <p>{{ pCtrl.passFactoryGameRecord.gameRecord.sud1 }}</p>
    </div>
    <div class="col-md-4 text-center">
      <h4>Ending Level</h4>
      <p>{{ pCtrl.passFactoryGameRecord.gameRecord.sud17}}</p>
    </div>
  <div class="row"><hr></div> 
  <div class="row">
    <div class="col-md-4 text-center">
      <h4>Mission Date</h4>
      <p>{{pCtrl.passFactoryGameRecord.gameRecord.toDateString1}}</p>
    </div>
    <div class="col-md-4 text-center">
      <h4>Time Elapsed</h4>
      <p>{{pCtrl.timeElasped }}</p>
    </div>
    <div class="col-md-4 text-center">
      <h4>Rank</h4>
      <p>{{pCtrl.currentRank}}</p>
    </div>
  </div>
  </div>
</div>
 