<!-- This row is for the input data from user -->
<div id="promptResponse" class="row">
  <div class="col-xs-1">
    <p>[5-4-3-2-1]<p>
  </div>
  <div class="col-xs-10 col-xs-offset-1">
    <div class="form-group">
      <!-- <label class="control-label" for="inputSmall">Sight, Sound</label> -->
      <div class="input-group">
        <input ng-model="pCtrl.response" id="inputSmall" class="form-control input-sm" type="text" placeholder="sight \, sound" >
        <span class="input-group-btn">
          <button ng-click="pCtrl.submitReponse()" class="btn btn-sm btn-primary" type="submit">Submit</button>
        </span>
      </div>
    </div>
  </div>
</div>