<!-- This a row for user reporting SUD -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="btn-toolbar">
      <div id="ratingVerticalGroup" class="btn-group-vertical btn-block">
        <a ui-sref="{{pCtrl.ratingSref}}" ng-click="pCtrl.submitRating($event)" type="submit" value="10" id="10" class="btn btn-default btn-lg">10</a>
        <a ui-sref="{{pCtrl.ratingSref}}" ng-click="pCtrl.submitRating($event)" type="submit" value="9" id="9" class="btn btn-default btn-lg">9</a>
        <a ui-sref="{{pCtrl.ratingSref}}" ng-click="pCtrl.submitRating($event)" type="submit" value="8" id="8" class="btn btn-default btn-lg">8</a>
        <a ui-sref="{{pCtrl.ratingSref}}" ng-click="pCtrl.submitRating($event)" type="submit" value="7" id="7" class="btn btn-default btn-lg">7</a>
        <a ui-sref="{{pCtrl.ratingSref}}" ng-click="pCtrl.submitRating($event)" type="submit" value="6" id="6" class="btn btn-default btn-lg">6</a>
        <a ui-sref="{{pCtrl.ratingSref}}" ng-click="pCtrl.submitRating($event)" type="submit" value="5" id="5" class="btn btn-default btn-lg">5</a>
        <a ui-sref="{{pCtrl.ratingSref}}" ng-click="pCtrl.submitRating($event)" type="submit" value="4" id="4" class="btn btn-default btn-lg">4</a>
        <a ui-sref="{{pCtrl.ratingSref}}" ng-click="pCtrl.submitRating($event)" type="submit" value="3" id="3" class="btn btn-default btn-lg">3</a>
        <a ui-sref="{{pCtrl.ratingSref}}" ng-click="pCtrl.submitRating($event)" type="submit" value="2" id="2" class="btn btn-default btn-lg">2</a>
        <a ui-sref="{{pCtrl.ratingSref}}" ng-click="pCtrl.submitRating($event)" type="submit" value="1" id="1" class="btn btn-default btn-lg">1</a>
        <a ui-sref="{{pCtrl.ratingSref}}" ng-click="pCtrl.submitRating($event)" type="submit" value="0" id="0" class="btn btn-default btn-lg">0</a>
      </div>
    </div>
  </div>
</div>